# Database
DATABASE_URL=postgresql://user:password@localhost:5432/dbname
PRISMA_ACCELERATE_URL=prisma+postgres://accelerate.prisma-data.net/?api_key=...

# ArcJet
ARCJET_KEY=ajkey_...
ARCJET_ENV=development
ARCJET_MODE=LIVE
ARCJET_RATE_LIMIT_MAX=100

# Better Auth
# Generate with: openssl rand -base64 32
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
# Comma-separated list of allowed origins (spaces around commas are ignored)
BETTER_AUTH_TRUSTED_ORIGINS=http://localhost:3000
